---
title: Home
---

<table>
  <tr>
    <th>Post</th>
    <th>Data</th>
  </tr>
<% sorted_articles.each do |article| %>
  <tr>
    <td><%= link_to article[:title], article %></td>
    <td><%= post_date(article) %></td>
  </tr>
<% end %>
</table>
