<!doctype html>
<html lang="<%= @item[:language] || 'pt-br' %>">
  <head>
    <title><%= [@item[:title], @config[:title]].join(" — ") %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= @item[:kind] == 'article' ? excerptize(strip_html(@item.compiled_content(snapshot: :pre)), length: 240) : @config[:description] %>">
    <meta name="author" content="<%= @item[:author] || @config[:author] %>">

    <!-- credit nanoc -->
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">

    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheet.css"/>

    <link rel="alternate" type="application/rss+xml" title="Feed do Debian Brasil" href="/feed.xml" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/debianbrasil.svg" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          <%= @config[:title] %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sobre
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/quem-somos">Quem somos</a>
                <a class="dropdown-item" href="/o-que-e-debian">O que é Debian</a>
                <a class="dropdown-item" href="https://wiki.debian.org/Brasil/Eventos">Eventos</a>
                <a class="dropdown-item" href="https://wiki.debian.org/Brasil/Fotos">Fotos</a>
                <a class="dropdown-item" href="http://loja.curitibalivre.org.br">Loja</a>
                <a class="dropdown-item" href="https://wiki.debian.org/Brasil">Wiki</a>
                <!--
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
                -->
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Debian Brasil
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/como-colaborar">Como colaborar</a>
                <a class="dropdown-item" href="https://wiki.debian.org/Brasil/Traduzir">Como ajudar a traduzir</a>
                <a class="dropdown-item" href="https://wiki.debian.org/Brasil/GUD">Grupos de usuários</a>
<!--            <a class="dropdown-item" href="http://planeta.debianbrasil.org">Planeta Debian-BR</a> -->
                <a class="dropdown-item" href="https://wiki.debian.org/MulheresBrasil">Mulheres BR</a>
                <a class="dropdown-item" href="/blogs-da-comunidade">Blogs da comunidade</a>
                <a class="dropdown-item" href="/links">Links</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Projetos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/arquivos-de-apresentacoes">Arquivos de apresentações</a>
                <a class="dropdown-item" href="/brdesktop">BrDesktop</a>
                <a class="dropdown-item" href="/debconfs-no-brasil">DebConfs no Brasil</a>
                <a class="dropdown-item" href="/minidebconfs-no-brasil">MiniDebConfs no Brasil</a>
                <a class="dropdown-item" href="/debian-zine">Debian Zine</a>
                <a class="dropdown-item" href="https://wiki.debian.org/Brasil/Documentos">Documentos</a>
                <a class="dropdown-item" href="/legendas-para-videos">Legendas</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Suporte
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://wiki.debian.org/Brasil/Listas">Listas de discussão</a>
                <a class="dropdown-item" href="https://wiki.debian.org/Brasil/IRC">Canais de IRC</a>
                <a class="dropdown-item" href="/grupos-no-telegram">Grupos no Telegram</a>
                <a class="dropdown-item" href="http://www.forumdebian.com.br">Fórum</a>
              </div>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="mailto:contato@debianbrasil.org.br"><i class="icon fa fa-envelope"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feed.xml"><i class="icon fa fa-rss"></i></a>
            </li>
            </li>
              <a class="nav-link" href="https://twitter.com/debianbrasil"><i class="icon fa fa-twitter"></i></a>
            </li>
          </ul>
          <!--
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          -->
        </div>
      </div>
    </nav>

    <div id="main">
      <div class="container">
        <% if item[:kind] == "article" %>
        <h1><%= item[:title] %></h1>
        <%= post_date(item) %>
        por <span class="author"><%= item[:author] %></span>
        <hr/>
        <% end %>

        <%= yield %>
      </div>
    </div>

    <footer>
      <div class="container">
        Copyright © 2010—<%= Date.today.year %> Comunidade Debian Brasil.
        <a href="/contato/">Contato</a>.
        <a href="https://gitlab.com/DebianBrasil/debianbrasil.org.br">Código-fonte deste site</a>.
      </div>
    </footer>

    <script type="text/javascript" src="/vendor/js/jquery.js"></script>
    <script type="text/javascript" src="/vendor/js/bootstrap.bundle.js"></script>
  </body>
</html>
